@model InsertAccountModel
@{
    ViewData["Title"] = "Create Account";
}

<br />
<div id="window" class="text-center">
    <br />
    <h2 style="font-size:22px;color:red;">ADD NEW CUSTOMER</h2>
    <br />
    <br />
    <form method="post" asp-controller="AccountPostActions" asp-action="InsertAccount">
        <input id="textBox" asp-for="@Model.CustomerName" placeholder="Enter Customer Name" />
        <br />
        <b>@Html.ValidationMessageFor(model=>model.CustomerName,"" , new{ @class="text-danger"} ) </b>
        <br />
        <input id="textBox" asp-for="@Model.AccountName" placeholder="Enter Account Name" />
        <br />
        <b>@Html.ValidationMessageFor(model=>model.AccountName,"" , new{ @class="text-danger"} ) </b>
        <br />
        <input id="textBox" asp-for="@Model.TypeOfAccount" placeholder="Enter Type Of Account" />
        <br />
        <b>@Html.ValidationMessageFor(model=>model.TypeOfAccount,"" , new{ @class="text-danger"} ) </b>
        <br />
        <input id="textBox" asp-for="@Model.Ballance" placeholder="Enter Ballance" />
        <br />
        <b>@Html.ValidationMessageFor(model=>model.Ballance,"" , new{ @class="text-danger"} ) </b>
        <br />
        <input id="button" type="submit" placeholder="Create Account" />
    </form>

    <br />
    <br />
    <br />
</div>