@model List<AccountModel>
@{
    ViewData["Title"] = "Account Info";
}
<br />
<div id="window">
    <br />
    <table style="border:solid;border-color:dodgerblue;margin-left:auto;margin-right:auto">
        <thead>
            <tr style="background-color:black;color:aliceblue;text-align:center;font-size:24px;">
                <td id="tableCell"> Account Owner Name </td>
                <td id="tableCell"> Account Name </td>
                <td id="tableCell"> Account Number </td>
                <td id="tableCell"> Account IBAN </td>
                <td id="tableCell"> Account Ballance </td>
            </tr>
        </thead> @foreach (var item in Model)
        {
            <tr style="color:red;text-align:center;font-size:24px">
                <td id="tableCell"> @item.AccountOwnerName </td>
                <td id="tableCell"> @item.AccountName </td>
                <td id="tableCell"> @item.AccountNumber </td>
                <td id="tableCell"> @item.AccountIBAN </td>
                <td id="tableCell"> @item.AccountBallance </td>
            </tr>
        }
    </table>
    <br />
    <br />
    <br />
    <br />
    <a id="button" asp-action="AccountsIndex" asp-controller="AccountViews"> Accounts Index </a>
    <br />
    <br />
</div>
<br />

